DB_HOST=localhost
DB_PORT=3306
DB_USER=roadsos_admin
DB_PASSWORD=roadsos_pass
DB_NAME=roadsos_db
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=true
YOLO_MODEL_PATH=ai_module/models/accident_detector.pt
OVERPASS_API_URL=https://overpass-api.de/api/interpreter
